// Colors
$color-primary: #00d1b2
$color-primary-darker: darken(#00d1b2, 5%)
$color-secondary: none
$color-tertiary: none


$color-text: darkslategray
$color-text-alternative: white
$color-code: lighten($color-text, 5%)

$color-link: cornflowerblue
$color-link-hover: darken($color-link, 25%)


$color-background: snow
$color-background-alternative: whitesmoke



// Typography
$font-family-monospace: 'Source Code Pro', monospace
$font-family-serif: 'Source Code Pro', monospace
$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif

$font-family-display: $font-family-sans-serif
$font-family-text: $font-family-sans-serif
$font-family-code: $font-family-monospace


$font-size-small: 0.75rem
$font-size-regular: 1rem
$font-size-large: 1.5rem
$font-size-x-large: 2rem
$font-size-xx-large: 2.5rem
$font-size-xxx-large: 6rem




=font-display($font-size)
  font-family: $font-family-display
  font-size: $font-size
  line-height: 1em
  letter-spacing: 0.1em
  font-variant: small-caps

=font-text($font-size)
  font-family: $font-family-text
  font-size: $font-size
  line-height: 1.618em
  letter-spacing: 0.05em

=font-code($font-size)
  font-family: $font-family-code
  font-size: $font-size
  line-height: 1.618em
  letter-spacing: 0.05em



=breakpoint($point)
  @if $point == widescreen
    @media (min-width: 1216px)
      @content
  @else if $point == desktop
    @media (min-width: 1024px)
      @content
  @else if $point == tablet
    @media (min-width: 769px)
      @content
  @else if $point == mobile
    @media (max-width: 768px)
       @content


// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default
// 960px container + 4rem
$desktop: 960px + (2 * $gap) !default
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap) !default


=from($device)
  @media screen and (min-width: $device)
    @content

//=until($device)
//  @media screen and (max-width: $device - 1px)
//    @content
//
=mobile
  @media screen and (max-width: $tablet - 1px)
    @content

=tablet
  @media screen and (min-width: $tablet), print
    @content
//
//=tablet-only
//  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px)
//    @content
//
//=touch
//  @media screen and (max-width: $desktop - 1px)
//    @content
//
=desktop
  @media screen and (min-width: $desktop)
    @content

//=desktop-only
//  @media screen and (min-width: $desktop) and (max-width: $widescreen - 1px)
//    @content
//
=widescreen
  @media screen and (min-width: $widescreen)
    @content
//
//=widescreen-only
//  @media screen and (min-width: $widescreen) and (max-width: $fullhd - 1px)
//    @content
//
//=fullhd
//  @media screen and (min-width: $fullhd)
//@content