@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro')


$main-color = #00d1b2
$gradient-color-1 = #00d1b2
$gradient-color-2 = #00d1b2
//$main-font = Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
$main-font = 'Open Sans', sans-serif;

@import "partial/_base.styl"
@import "partial/_content.styl"
@import "partial/_highlight.styl"



img
  display block
  margin 75px auto;


img[src*="/pixelart/"]
  image-rendering pixelated
  height 100px