include _mixins.pug


+navbar()

main
    header.article-header
        figure.icon
            i.devicon-javascript-plain
        div.title
            = page.title

    section.content.article-body
        != page.content