include _mixins.pug


+navbar()

main
    header.article-header
        figure.icon
            i.devicon-javascript-plain
        div.title
            = "Map, filter and reduce"

    section.content.article-body
        != page.content
