<footer>
<div class="footer animation fade-in after-250ms">
    <div class="section">
        <p>An experienced professional with love for open source community.
            <br>Specialised at delivering <strong>efficient complex web applications</strong>, on time.</p>
        <p>Currently located in
            <a href="https://www.google.com/maps/place/Poland" target="_blank">Poland</a>,
            <a href="https://www.google.com/maps/place/Lodz" target="_blank">Lodz</a>.</p>
    </div>
    <div class="section">
        <ul class="social-media">
            <li>
                <a href="http://twitter.com/@thebytebits" target="_blank">
                    <i class="icon twitter"></i>
                </a>
            </li>
            <li>
                <a href="http://github.com/thebytebits" target="_blank">
                    <i class="icon github"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="section">
        <table>
            <tr>
                <td>Email</td>
                <td><a href="mailto:mateusz.pietrzak@bytebits.io">mateusz.pietrzak@bytebits.io</a></td>
            </tr>
            <tr>
                <td>Mobile</td>
                <td>
                    <table>
                        <tr>
                            <td>GB</td>
                            <td><a href="tel:+44XYZXYZXYZ">+44 20 3289 5471</a></td>
                        </tr>
                        <tr>
                            <td>PL</td>
                            <td><a href="tel:+48XYZXYZXYZ">+48 203 289 547</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
</footer>