<footer class="footer">
    <div class="section">

    </div>
    <div class="section">
        <ul class="social-media">
            <li>
                <a href="http://twitter.com/@thebytebits" target="_blank">
                    <i class="icon twitter"></i>
                </a>
            </li>
            <li>
                <a href="http://github.com/thebytebits" target="_blank">
                    <i class="icon github"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="section">
        <table>
            <tr>
                <td>Email</td>
                <td><a href="mailto:mateusz.pietrzak@bytebits.io">mateusz.pietrzak@bytebits.io</a></td>
            </tr>
        </table>
    </div>
</footer>