<nav class="navbar {{ theme }}">
    <div class="navbar-brand">
        <a href="/">{{ config.title }}</a>
    </div>
    <ul class="navbar-items">
        <li class="navbar-item">
            <a href="/">Services</a>
        </li>
        <li class="navbar-item">
            <a href="/articles">Articles</a>
        </li>
        <li class="navbar-item">
            <a href="/contact">Contact</a>
        </li>
    </ul>
</nav>