<nav class="navbar {{ theme }}">
    <div class="navbar-brand">
        <a href="/">{{ config.title }}</a>
    </div>
    <ul class="navbar-items">
        <li class="navbar-item">
            <a href="/">Services</a>
        </li>
        <li class="navbar-item">
            <a href="/articles">Articles</a>
        </li>
        <li class="navbar-item">
            <a href="/open-source">Open Source</a>
            <ul class="navbar-sub-items">
                <li class="navbar-sub-item">
                    <a href="/open-source/commonly">Commonly</a>
                    <ul class="navbar-sub-items">
                        <li class="navbar-sub-item">
                            <a href="/open-source/commonly">Getting started</a>
                        </li>
                        <li class="navbar-sub-item">
                            <a href="/open-source/commonly/docs">Documentation</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="navbar-item">
            <a href="/contact">Contact</a>
        </li>
    </ul>
</nav>