@import "../animations"



.animation
  animation-fill-mode: both
  animation-duration: .5s
  animation-delay: 0s


  &.short
    animation-duration: .25s
  &.long
    animation-duration: 1s

  &.after-250ms
    animation-delay: .25s
  &.after-500ms
    animation-delay: .5s
  &.after-750ms
    animation-delay: .75s
  &.after-1000ms
    animation-delay: 1s
  &.after-1250ms
    animation-delay: 1.25s
  &.after-1500ms
    animation-delay: 1.5s



  &.fade-in
    animation-name: fade-in
  &.fade-out
    animation-name: fade-out


// "animation fade-in after-1s"