@import "../modules/typography"
@import "../modules/color"
@import "../modules/font-size"
@import "../modules/font-family"



.hero
  @include typography($font-family--text, $font-size--text)
  position: relative
  padding: 3% 5%
  background-color: $color--background-alternative
  color: $color--text-alternative

  .notice
    color: $color--primary-light



//Themes
.hero.primary
  background-color: $color--primary !important
  color: $color--background !important

  a
    color: $color--background-alternative !important
    &:hover
      color: $color--primary-light !important


.hero.transparent
    background-color: transparent !important
    color: $color--text !important


// Misc
.hero.fullscreen
  display: flex
  flex-direction: column
  min-height: 100vh
  > *
    flex: 1