@import "../modules/color"
@import "../modules/constants"
@import "../modules/spacing"
@import "../modules/typography"
@import "../modules/font-family"
@import "../modules/font-size"



.navbar
  @include typography($font-family--display, $font-size--regular)
  display: flex
  justify-content: space-between
  padding: 0 spacer($regular, $spacing--responsive)

  .navbar-brand
    @include typography($font-family--display, $font-size--large)
    transition: background-color 100ms, color 100ms ease-in
    display: inline-block
    padding: spacer($regular, $spacing--fixed)
    &:hover
      opacity: .75
      color: $color--primary

  .navbar-items
    display: inline-block

    .navbar-item
      transition: background-color 100ms, color 100ms ease-in
      display: inline-block
      position: relative
      padding: spacer($regular, $spacing--fixed)
      &:hover
        opacity: .75
        background-color: $color--background-alternative
        color: $color--primary
        & > .navbar-sub-items
          display: block

  a
    color: $color--text
    &:hover
      color: $color--primary



// Themes
.navbar.primary
  background-color: $color--primary !important

  .navbar-brand
    color: $color--background !important
    &:hover
      background-color: $color--primary-dark !important
      color: $color--primary-light !important

  .navbar-item
    color: $color--background !important
    &:hover
      background-color: $color--primary-dark !important
      color: $color--primary-light !important

  a
    color: inherit !important
    &:hover
      color: inherit !important


.navbar-sub-items
  display: none
  position: absolute
  left: 25%
  top: 100%
  padding: 0
  margin: 0

  .navbar-sub-item
    display: block
    clear: both
    &:hover > .navbar-sub-items
      display: block
