@import "../modules/typography"
@import "../modules/font-family"
@import "../modules/font-size"
@import "../modules/color"
@import "../modules/spacing"
@import "../modules/constants"



.resume-details
  @include typography($font-family--text, $font-size--notice)
  color: $color--notice
  margin: spacer($regular, $spacing--responsive)

  .phone
    display: block

  .email
    display: block
    


.resume-body

  .experience

  .education

  .skills
    table, tbody, tr
      width: 100%

  .languages
    .language
      display: inline-block
      text-align: center



.columns
  display: flex
  flex-direction: row

  .column
    min-width: 50%
    margin: 0 spacer($regular, $spacing--responsive)


