@import "base/reset"
@import "base/core"
@import "abstracts/variables"
@import "layout/article-list"
@import "layout/navbar"
@import "layout/content"
@import "layout/footer"
@import "layout/article-header"
@import "layout/article-body"
@import "layout/article-short"
@import "components/tags"
@import "components/markdown"

@import url('https://fonts.googleapis.com/css?family=Lora|Fanwood+Text|Open+Sans|Source+Code+Pro|Encode+Sans+Expanded|Raleway|Roboto|Cormorant+Garamond|Crimson+Text|Playfair+Display|Slabo+27px|Merriweather|Poiret+One')



html
  @include mobile
    @include font-text(12px)
  @include tablet
    @include font-text(14px)
  @include desktop
    @include font-text(16px)
  @include widescreen
    @include font-text(18px)

img[src*="/pixelart"]
  display: block
  margin: 7% auto
  height: 10vh
  image-rendering: optimizeSpeed
  image-rendering: -moz-crisp-edges
  image-rendering: -o-crisp-edges
  image-rendering: pixelated


main
  animation: fade-out 250ms


@keyframes fade-out
  from
    opacity: 0
  to
    opacity: 1