{{> navbar }}

<main class="curtain">
    <div class="container">

        <h1>Why, hello there!</h1>
        <p>My name is <strong>Mateusz Pietrzak</strong> and I am a <strong>web developer</strong>.
            <br>Creative and detail oriented, aiming for the excellence.</p>

        <p>An experienced professional with love for open source community.
            <br>Specialised at delivering <strong>efficient complex web applications</strong>, on time.</p>

        <p>Fluent in <strong>TypeScript</strong> and <strong>WebAssembly</strong>.
            <br>Whereas my weapon of choice for doing heavy lifting is
            <strong>Node.js</strong> with <strong>AWS</strong> infrastructure.</p>

        <p>Currently located in
            <a href="https://www.google.com/maps/place/Poland" target="_blank">Poland</a>,
            <a href="https://www.google.com/maps/place/Lodz" target="_blank">Lodz</a>.</p>


        <h2>Get in touch!</h2>
        <p>Have a question or a wish to have a chat?</p>
        <span>You can always reach me on</span>
        <table>
            <tr>
                <td>Social media</td>
                <td>
                    <a href="https://twitter.com/TheByteBits" target="_blank">Twitter</a> or
                    <a href="https://github.com/TheByteBits" target="_blank">Github</a>
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <a href="mailto:mateusz.pietrzak@bytebits.io">mateusz.pietrzak@bytebits.io</a>
                </td>
            </tr>
        </table>

    </div>
</main>

{{> footer }}