<main class="animation fade-in">
    <div class="container">


        <div class="resume">
            <header class="resume-heading">
                <div class="resume-column">
                    <span class="name">Thomas Anderson</span>
                    <span class="specialization">Hacker</span>
                </div>
                <div class="resume-column">
                    <span class="phone">+48 698 833 330</span>
                    <span class="email">thomas.anderson@bytebits.io</span>
                </div>
            </header>

            <div class="resume-body">
                <div class="resume-column">
                    <div class="experience">
                        <h2>Experience</h2>
                        <ul class="no-bullets">
                            <li>
                                <h4>JavaScript Developer</h4>
                                <small>GFT Poland</small>
                                <p>Customer account overview dashboard for one of the biggest bank in the europe which
                                    would.
                                    Entry page for every customer upon starting online banking application.</p>
                                <ul class="tags">
                                    <li class="tag">JavaScript</li>
                                    <li class="tag">React</li>
                                    <li class="tag">Redux</li>
                                </ul>
                            </li>
                            <li>
                                <h4>JavaScript Developer</h4>
                                <small>Vistex</small>
                                <p>Business intelligence dashboards and data analytics delivering precise, actionable
                                    insights.</p>
                                <ul>
                                    <li>Written from scratch a draggable multi-column grid component for building
                                        intelligently ordered BI dashboard layouts.
                                    </li>
                                    <li>Built from the ground up responsive gauge charts.</li>
                                    <li>Taken part in development of full-fledged chart library.</li>
                                </ul>
                                <ul class="tags">
                                    <li class="tag">TypeScript</li>
                                </ul>
                            </li>
                            <li>
                                <h4>Software Engineering Associate</h4>
                                <small>Accenture</small>
                                <p>An iOS, Android and Windows Phone progressive web application.</p>
                                <ul>
                                    <li>Proposed and introduced to the team technologies that were used in application's
                                        development based on client's needs.
                                    </li>
                                    <li>Provided architecture and build automation for the application.</li>
                                    <li>Built a data access layer synchronizing application's data model with both local
                                        and online persistent storage.
                                    </li>
                                </ul>
                                <ul class="tags">
                                    <li class="tag">JavaScript</li>
                                    <li class="tag">AngularJS</li>
                                    <li class="tag">Backbone.js</li>
                                    <li class="tag">Cordova</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="resume-column">
                    <div class="skills">
                        <h2>Skills</h2>
                        <table>
                            <tr>
                                <th colspan="2">
                                    <h3>Programming paradigms</h3>
                                </th>
                            </tr>
                            <tr>
                                <td>Object-oriented</td>
                                <td class="extended vertical-middle">
                                    <div class="progress">
                                        <div class="value" style="width: 23%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Functional</td>
                                <td class="extended vertical-middle">
                                    <div class="progress">
                                        <div class="value" style="width: 48%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h3>Languages</h3>
                                </th>
                            </tr>
                            <tr>
                                <td>JavaScript</td>
                                <td class="extended vertical-middle">
                                    <div class="progress">
                                        <div class="value" style="width: 23%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>TypeScript</td>
                                <td class="extended vertical-middle">
                                    <div class="progress">
                                        <div class="value" style="width: 48%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h3>Platforms</h3>
                                </th>
                            </tr>
                            <tr>
                                <td>Browsers</td>
                                <td class="extended vertical-middle">
                                    <div class="progress">
                                        <div class="value" style="width: 23%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Node.js</td>
                                <td class="extended vertical-middle">
                                    <div class="progress">
                                        <div class="value" style="width: 48%"></div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th colspan="2">
                                    <h3>Frameworks</h3>
                                </th>
                            </tr>
                            <tr>
                                <td>React</td>
                                <td class="extended vertical-middle">
                                    <div class="progress">
                                        <div class="value" style="width: 48%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Redux</td>
                                <td class="extended vertical-middle">
                                    <div class="progress">
                                        <div class="value" style="width: 48%"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <h3>Other stuff</h3>
                        <ul class="tags">
                            <li class="tag">Rollup / Webpack</li>
                            <li class="tag">WebAssembly</li>
                            <li class="tag">C/C++</li>
                            <li class="tag">Amazon Web Services</li>
                            <li class="tag">Serverless Architecture (BaaS/FaaS)</li>
                        </ul>
                    </div>
                    <hr>
                    <div class="certificates">
                        <h2>Certificates</h2>
                        <ul class="no-bullets">
                            <li>
                                <h4>Cambridge English Advance</h4>
                                <small>CAE (C1)</small>
                            </li>
                            <li>
                                <h4>Java SE 8 Programmer I</h4>
                                <small>Oracle 1Z0-808</small>
                            </li>
                        </ul>
                        <h2>Courses</h2>
                        <ul class="no-bullets">
                            <li>
                                <h4>Warsztaty AWS - Cloud Builders Day</h4>
                                <small>2018</small>
                            </li>
                            <li>
                                <h4>Warsztaty AWS - Zombie Apocalypse</h4>
                                <small>2018</small>
                            </li>
                            <li>
                                <h4>GFT React Workshop</h4>
                                <small>2017</small>
                            </li>
                            <li>
                                <h4>Accenture MWA: Modern Web Applications (AngularJS)</h4>
                                <small>2015</small>
                            </li>
                            <li>
                                <h4>Accenture MWA: Modern Web Development Tools</h4>
                                <small>2015</small>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <div class="languages">
                        <h2>Languages</h2>
                        <div class="language">
                            <svg class="progress-circle">
                                <circle class="value is-full"/>
                                <text class="label"
                                      x="50" y="50">Native
                                </text>
                            </svg>
                            Polish
                        </div>
                        <div class="language">
                            <svg class="progress-circle">
                                <circle class="value is-three-quarters"/>
                                <text class="label"
                                      x="50" y="50">C1
                                </text>
                            </svg>
                            English
                        </div>
                        <div class="language">
                            <svg class="progress-circle">
                                <circle class="value is-one-quarter"/>
                                <text class="label"
                                      x="50" y="50">A2
                                </text>
                            </svg>
                            German
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</main>