<main class="animation fade-in">
    <div class="container">


        <div class="resume">
            <header class="resume-heading">
                <span class="name">Karolina Kikowska</span>
                <span class="specialization">JavaScript Developer</span>
                <span class="phone">+48 696 958 236</span>
                <span class="email">karolina.kikowska@bytebits.io</span>
            </header>

            <div class="resume-body">
                <div class="resume-column">
                    <div class="experience">
                        <h2>Experience</h2>
                        <ul class="no-bullets">
                            <li>
                                <h4>JavaScript Developer</h4>
                                <small>Vistex</small>
                                <p>The quick brown fox jumps over the lazy dog.</p>
                                <ul class="tags">
                                    <li class="tag">TypeScript</li>
                                    <li class="tag">React</li>
                                </ul>
                            </li>
                            <li>
                                <h4>Junior Frontend Developer</h4>
                                <small>Harman Technologies</small>
                                <p>The quick brown fox jumps over the lazy dog.</p>
                                <ul class="tags">
                                    <li class="tag">TypeScript</li>
                                    <li class="tag">Angular</li>
                                </ul>
                            </li>
                            <li>
                                <h4>Software Engineering Associate</h4>
                                <small>Accenture</small>
                                <p>Cross platform mobile application, built using modern frontend technology stack,
                                    accompanied by some of the best web development practices.</p>
                                <ul class="tags">
                                    <li class="tag">TypeScript</li>
                                    <li class="tag">Angular</li>
                                    <li class="tag">RxJS</li>
                                </ul>
                            </li>
                            <li>
                                <h4>Intern</h4>
                                <small>Accenture</small>
                                <p>An  iOS, Android and Windows Phone progressive web application.</p>
                                <ul>
                                    <li>Developed a fully-featured GPS navigation, application’s main selling point.</li>
                                    <li>Dramatically improved performance of an application and reduced its distribution size by half.</li>
                                </ul>
                                <br>
                                <ul class="tags">
                                    <li class="tag">JavaScript</li>
                                    <li class="tag">Ionic / AngularJS</li>
                                    <li class="tag">Google Maps SDK</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <div class="education">
                        <h2>Education</h2>
                        <ul class="no-bullets">
                            <li>
                                <h4>Information Technology</h4>
                                <small>At Technical University of Lodz</small>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="resume-column">
                    <div class="skills">
                        <h2>Skills</h2>
                        <table>
                            <tr>
                                <th colspan="2">
                                    <h3>Programming paradigms</h3>
                                </th>
                            </tr>
                            <tr>
                                <td>Object-oriented</td>
                                <td class="extended vertical-middle">
                                    <div class="progress">
                                        <div class="value" style="width: 23%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Functional</td>
                                <td class="extended vertical-middle">
                                    <div class="progress">
                                        <div class="value" style="width: 48%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h3>Languages</h3>
                                </th>
                            </tr>
                            <tr>
                                <td>JavaScript</td>
                                <td class="extended vertical-middle">
                                    <div class="progress">
                                        <div class="value" style="width: 23%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>TypeScript</td>
                                <td class="extended vertical-middle">
                                    <div class="progress">
                                        <div class="value" style="width: 48%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h3>Platforms</h3>
                                </th>
                            </tr>
                            <tr>
                                <td>Browsers</td>
                                <td class="extended vertical-middle">
                                    <div class="progress">
                                        <div class="value" style="width: 23%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Node.js</td>
                                <td class="extended vertical-middle">
                                    <div class="progress">
                                        <div class="value" style="width: 48%"></div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th colspan="2">
                                    <h3>Frameworks</h3>
                                </th>
                            </tr>
                            <tr>
                                <td>Angular</td>
                                <td class="extended vertical-middle">
                                    <div class="progress">
                                        <div class="value" style="width: 23%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>React</td>
                                <td class="extended vertical-middle">
                                    <div class="progress">
                                        <div class="value" style="width: 48%"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <h3>Other stuff</h3>
                        <ul class="tags">
                            <li class="tag">RxJS</li>
                            <li class="tag">Webpack</li>
                        </ul>
                    </div>
                    <hr>
                    <div class="certificates">
                        <h2>Courses and Certificates</h2>
                        <ul class="no-bullets">
                            <li>
                                <h4>Cambridge English Advance</h4>
                            </li>
                            <li>
                                <h4>Angular</h4>
                                <small>Altkom JSAN2</small>
                                <p>Developing an application using  Angular framework.</p>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <div class="languages">
                        <h2>Languages</h2>
                        <div class="language">
                            <svg class="progress-circle">
                                <circle class="value is-full"/>
                                <text class="label"
                                      x="50" y="50">Native
                                </text>
                            </svg>
                            Polish
                        </div>
                        <div class="language">
                            <svg class="progress-circle">
                                <circle class="value is-full"/>
                                <text class="label"
                                      x="50" y="50">C2
                                </text>
                            </svg>
                            English
                        </div>
                        <div class="language">
                            <svg class="progress-circle">
                                <circle class="value is-one-quarter"/>
                                <text class="label"
                                      x="50" y="50">A2
                                </text>
                            </svg>
                            German
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</main>