<main class="animation fade-in">
    <div class="container">


        <div class="resume">
            <header class="resume-heading">
                <img src="#" class="picture">
                <span class="name">Karolina Kikowska</span>
                <span class="specialization">JavaScript Developer</span>
                <span class="phone">+48 696 958 236</span>
                <span class="email">karolina.kikowska@bytebits.io</span>
            </header>

            <div class="resume-body">
                <div class="resume-column">
                    <div class="experience">
                        <h2>Experience</h2>
                        <ul>
                            <li>
                                <h4>JavaScript Developer</h4>
                                <p>The quick brown fox jumps over the lazy dog.</p>
                            </li>
                            <li>
                                <h4>Junior Frontend Developer</h4>
                                <p>The quick brown fox jumps over the lazy dog.</p>
                            </li>
                            <li>
                                <h4>Software Engineering Associate</h4>
                                <p>The quick brown fox jumps over the lazy dog.</p>
                            </li>
                            <li>
                                <h4>Intern</h4>
                                <p>The quick brown fox jumps over the lazy dog.</p>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <div class="education">
                        <h2>Education</h2>
                        <ul>
                            <li>Cashier</li>
                            <li>Cashier</li>
                            <li>Cashier</li>
                        </ul>
                    </div>
                </div>

                <div class="resume-column">
                    <div class="skills">
                        <h2>Skills</h2>
                        <h3>SubX3</h3>
                        <table>
                            <tr>
                                <td>Cashing</td>
                                <td class="extended vertical-middle">
                                    <div class="progress">
                                        <div class="value" style="width: 23%"></div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>Cleaning</td>
                                <td class="extended vertical-middle">
                                    <div class="progress">
                                        <div class="value" style="width: 48%"></div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>Washing</td>
                                <td class="extended vertical-middle">
                                    <div class="progress">
                                        <div class="value" style="width: 72%"></div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>Killing</td>
                                <td class="extended vertical-middle">
                                    <div class="progress">
                                        <div class="value" style="width: 11%"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <h3>SubX4</h3>
                        <table>
                            <tr>
                                <td>Cashing</td>
                                <td class="extended vertical-middle">
                                    <div class="progress">
                                        <div class="value" style="width: 23%"></div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>Cleaning</td>
                                <td class="extended vertical-middle">
                                    <div class="progress">
                                        <div class="value" style="width: 48%"></div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>Washing</td>
                                <td class="extended vertical-middle">
                                    <div class="progress">
                                        <div class="value" style="width: 72%"></div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>Killing</td>
                                <td class="extended vertical-middle">
                                    <div class="progress">
                                        <div class="value" style="width: 11%"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <hr>
                    <div class="certificates">
                        <h2>Certificates</h2>
                        <ul>
                            <li>Cambridge English Advance</li>
                        </ul>
                    </div>
                    <hr>
                    <div class="languages">
                        <h2>Languages</h2>
                        <div class="language">
                            <svg class="progress-circle">
                                <circle class="value is-full"/>
                                <text class="label"
                                      x="50" y="50">Native
                                </text>
                            </svg>
                            Polish
                        </div>
                        <div class="language">
                            <svg class="progress-circle">
                                <circle class="value is-full"/>
                                <text class="label"
                                      x="50" y="50">C2
                                </text>
                            </svg>
                            English
                        </div>
                        <div class="language">
                            <svg class="progress-circle">
                                <circle class="value is-one-quarter"/>
                                <text class="label"
                                      x="50" y="50">A2
                                </text>
                            </svg>
                            German
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</main>