{{> navbar theme="primary animation fade-in" }}


<main class="animation fade-in">
    <section class="hero primary fullscreen">
        <canvas class="node-garden | animation fade-in lasting-1000ms after-2250ms"></canvas>

        <div class="align-left | animation fade-in lasting-250ms after-750ms">
            <span class="title">Applications tailored to your needs.</span>
            <p>Delivering a custom fit software for your business.
                <br>Providing deep software analysis & consultancy followed by the application development.</p>
            <p>Don't hesitate, <a href="/contact">contact me directly</a> and get a custom quote on your project.</p>
        </div>
        <br>
        <div class="align-right | animation fade-in lasting-250ms after-1250ms">
            <span class="title">Applications tailored to your needs.</span>
            <p>Delivering a custom fit software for your business.
                <br>Providing deep software analysis & consultancy followed by the application development.</p>
            <p>Don't hesitate, <a href="/contact">contact me directly</a> and get a custom quote on your project.</p>
        </div>
        <br>
        <div class="align-left | animation fade-in lasting-250ms after-1750ms">
            <span class="title">Applications tailored to your needs.</span>
            <p>Delivering a custom fit software for your business.
                <br>Providing deep software analysis & consultancy followed by the application development.</p>
            <p>Don't hesitate, <a href="/contact">contact me directly</a> and get a custom quote on your project.</p>
        </div>
    </section>

    <section class="hero">
        <span class="title">Applications tailored to your needs.</span>
        <p>Delivering a custom fit software for your business.
            <br>Providing deep software analysis & consultancy followed by the application development.</p>
        <p>Don't hesitate, <a href="/contact">contact me directly</a> and get a custom quote on your project.</p>

        <!--<img src="/assets/images/dev.png">-->
    </section>

    <section class="hero transparent">
        <span class="title">Applications tailored to your needs.</span>
        <p>Delivering a custom fit software for your business.
            <br>Providing deep software analysis & consultancy followed by the application development.</p>
        <p>Don't hesitate, <a href="/contact">contact me directly</a> and get a custom quote on your project.</p>
    </section>
</main>

<script src="/application/node-garden.js"></script>

{{> footer }}