{{> navbar theme="primary" }}

<main>
    <section class="hero primary">
        <span class="title">Applications tailored to your needs.</span>
        <p>Delivering a custom fit software for your business.
            <br>Providing deep software analysis & consultancy followed by the application development.</p>
        <p>Don't hesitate, <a href="/contact">contact me directly</a> and get a custom quote on your project.</p>
    </section>

    <section class="hero">
        <span class="title">Applications tailored to your needs.</span>
        <p>Delivering a custom fit software for your business.
            <br>Providing deep software analysis & consultancy followed by the application development.</p>
        <p>Don't hesitate, <a href="/contact">contact me directly</a> and get a custom quote on your project.</p>
    </section>

    <section class="hero transparent">
        <span class="title">Applications tailored to your needs.</span>
        <p>Delivering a custom fit software for your business.
            <br>Providing deep software analysis & consultancy followed by the application development.</p>
        <p>Don't hesitate, <a href="/contact">contact me directly</a> and get a custom quote on your project.</p>
    </section>
</main>

{{> footer }}