@import "../abstracts/variables"


.article-body
  @include font-text


  p
    margin: 15px 0

  h1, h2, h3
    @include font-display
    padding-top: 25px

  h1
    font-size: 2.5rem

  h2
    font-size: 2rem

  h3
    font-size: 1.5rem


  pre
    background: $color-background-alternative !important

    code
      @include font-code
      color: $color-code
      font-size: $font-size-small