@import "../abstracts/variables"



.article-header
  color: $color-text
  padding: 5rem
  text-align: center

  .title
    @include font-display($font-size-xx-large)

  .icon
    font-size: $font-size-xxx-large
    padding: 2.5rem

