@import "../abstracts/variables"


.article-body
  @include font-text($font-size-regular)


  p
    margin: 1% 0

  h1, h2, h3
    padding-top: 25px

  h1
    @include font-display($font-size-x-large)

  h2
    @include font-display($font-size-large)

  h3
    @include font-display($font-size-regular)


  blockquote
    color: #999
    text-align: center


  code
    @include font-code($font-size-small)
    background: $color-background-alternative
    color: $color-primary
    padding: 0.25em 0.5em

  pre
    background: $color-background-alternative !important
    line-height: 1em !important
    code
      color: $color-code
      padding: 0
      margin: 0