@import "../abstracts/variables"


.footer
  background-color: $color-background-alternative
  padding: 25px
  text-align: center

  .social-media
    font-size: 50px

    ul
      li
        display: inline-block
        padding: 25px

    a
      color: $color-text

  .copyright
    font-size: 12px

